#first{
    color:aquamarine;
    background: #585757;
    /* display:inline; */
    height: 300px;
    /* inline elements do not take height and width */
    display: inline-block;
}
h2{
    display:inline-block;
}
section{
    border: solid black;
    height:400px;
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* difference of justify content works in row and align item is work in column align content also work in colomn defaultly it is space-around */
    flex-wrap: wrap;
    /* align-content: center; */
    /* difference between align-item and align-content is align-item works on individual element but align-content works on whole line of elements */

    /* row-gap: 40px;
    column-gap: 40px; */

    gap: 20px;


} 
div{
    border: solid red;
    height: 100px;
    width: 100px;
    flex-shrink: 0;
}
#flex_direction{
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#flex_items{
border: solid springgreen;
height: 400px;

}
#flex_items div{
    border: solid blue;
    /* flex-grow: 4; */
    /* flex-shrink: 5; */
    order: 3;
}
#flex_items+ div{
    border: solid orange;
    }