#header{
    background-image: url(./img4.jpeg);
    height: 1000px;
    width:100%;
    background-size: contain; 
}
.menu a{
    font-size: 20px;
    color: rgb(244, 244, 244);
    padding-left: 20px;
    text-decoration: none;

}
i{
    color: white;
    margin-right: 20px;
    padding-left: 20px;
    align-items: right;
}
#discover{
          position: relative;
          top:600px;
          margin-left: 150px;
          font-size: 20px;  
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          background-color: rgb(53, 53, 227);
          color: rgb(216, 226, 235);
          padding: 15px;
          border-radius: 10px;
          text-decoration: none;
}
.icon{
    display: flex;
    justify-content: space-evenly;
}
