*{
  
    background-color:black;
}

header{
  
    height: 100vh;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/3d31dac6-aaf0-4e6e-8bd7-e16c5d9cd9a3/web/IN-en-20260119-TRIFECTA-perspective_cce70d60-69c5-428f-99cf-44c212fcec3f_large.jpg');
   background-color: rgba(0, 0, 0, 0.605);
   background-blend-mode: overlay;

   
}

nav{
    height: 60px    ;
    display: flex;
      background-color: transparent;
}

nav select{
    margin-left: 1000px;
    margin-right:16px ;
    margin-top: 22px;
    font-size: large;
    height: 40px;
    
}

.main{
    text-align: center;
    margin-top: 100px;
    background-color: transparent;
}

.main h1{
    color: white;
    font-size: 45px;
    background-color: transparent;
}

.main p{
    color: white;
    font-size: 18px;
  background-color: transparent;
}
.line::before{
    content: '';
    position: absolute;
    top: 790px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index:1;
    margin-top: -.25rem;
    border-radius: inherit;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}


.imgshow{
    height: 300px;
    width: 100%;
   

    display: flex;
    justify-content: space-around;
    margin-top: 70px;
/* margin-left: 50px; */

background-color: black;

}

.numbers{
    display: flex;
    justify-content: space-around;

    position: relative;
    bottom: 100px;
    right: 80px;
    background-color:transparent;

}
.num{
    color: white;
    font-size:74px;
    background-color: transparent;
    font-family: monospace;
    
}


.secondcontain{
    color: white;
    margin-left: 80px;
}

.faq{
    color: white;
    margin-left: 260px;
}
.faq div h2{
    
    background-color: grey;
    height: 60px;
    width: 80%;
    padding-left: 20px;
    padding-top: 10px;

}

.contact{
    margin-left: 350px;
}
.contact p{
    padding-top: 50px;
    padding-left: 100px;
    color: white;
    font-size: larger;
}





.footer {
  background-color: #000;
  color: #757575;
  padding: 50px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  width: 75%;
  margin: auto;
}

.footer-call {
  margin-bottom: 20px;
  font-size: 16px;
}

.footer-call a {
  color: #757575;
  text-decoration: none;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 10px 0;
}

.footer-links a {
  color: #928f8f;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-lang select {
  background: #000;
  color: #fff;
  border: 1px solid #333;
  padding: 8px 15px;
  border-radius: 4px;
}

.footer-country {
  margin-top: 20px;
  font-size: 14px;
}

.footer-captcha {
  margin-top: 10px;
  font-size: 12px;
}

.footer-captcha a {
  color: #0071eb;
  text-decoration: none;
}
