section{
    height: 100vh;
    width: 100%;
    background-color: orangered;
}

nav img{
    margin: 30px;
    height: 48px;
    width: 160px;
    display: inline-block;
}
nav a{
    margin:10px;
    font: 40px;
    font-family: time system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
    
}